# configuration for the LOCAL DEVELOPMENT environment
# starts the Caddy server configured for Tailscale's internal HTTPS

version: '3.8'

services:
  voice-app:
    depends_on:
      - coqui-tts
    environment:
      - TTS_URL=http://coqui-tts:5002/api/tts

  coqui-tts:
    image: ghcr.io/coqui-ai/tts-cpu
    ports:
      - "5002"
    environment:
      - TTS_MODEL_NAME=tts_models/en/ljspeech/vits
    restart: unless-stopped
    entrypoint: tts-server
    networks:
      - app-net

  caddy:
    image: caddy:2-alpine
    restart: unless-stopped
    ports:
      - "8443:8443" # non-standard port for local dev
    volumes:
      - ./Caddyfile.dev:/etc/caddy/Caddyfile # mount for dev Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - voice-app
    networks:
      - app-net

volumes:
  caddy_data:
  caddy_config:
